.idea
*.sln
*.suo
node_modules
projects/*/lib
npm-debug.log
*.heapsnapshot
/dist

#project specific
/projects/droplit-edge/cache
/projects/droplit-edge/plugins
/projects/droplit-edge/localsettings.json
.vscode
**/yarn.lock

.DS_Store